{% extends 'base.html' %}

{% block title %}
{{ group.title }}
{% endblock %}


{% block content %}
<h1>{% block header %}{{ group.title }}{% endblock %}</h1>
<p>{{ group.description }}</p>
<main>
  <div class="container py-5">
    {% include 'posts/includes/paginator.html' %}
      {% for post in page_obj %}
        {% include 'posts/includes/post_item.html' with post=post %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
  </div>
</main>
{% endblock %}
